:root {
    --background-color: #2C2F33;
    --foreground-color: #34383c;
    --text-color: #ffffff;
    --buttons-color: #5865F2;
    --button-color-active: #6e78dd;

    font-family: "JetBrains Mono", "sans-serif";
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--foreground-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: var(--background-color);
    color: var(--text-color);

    padding: 25px;
}

.main {
    display: flex;
    margin: 0 auto;

    background: var(--foreground-color);

    padding: 10px;
    border-radius: 20px;

    width: 1400px;
    height: 619px;

}

.main img {
    border-radius: 10px;
}

.data {
    flex-grow: 1;
    margin-left: 10px;
    word-wrap: break-word;
    flex-direction: column;

    overflow-y: scroll;
}

.data p {
    margin: 3px;
}

.controls {
    display: flex;
    background: var(--foreground-color);

    margin: 10px auto;

    width: 200px;
    height: 40px;

    padding: 10px;
    justify-content: center;

    border-radius: 20px;
}

.button {
    display: flex;

    width: 100%;
    padding: 10px;

    background: var(--buttons-color);

    justify-content: center;
    align-items: center;

    border-radius: 10px;
    user-select: none;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background: var(--button-color-active);
}
