<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alerts-in-ua.py site presentation</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body onload="fetchData()">
    <div class="main" id="main">
        <img id="image" src="" alt="">

        <div class="data" id="data_container">

        </div>
    </div>

    <div class="controls">
        <div class="button" onclick="fetchData()">Оновити</div>
    </div>
</body>
</html>