<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alerts-in-ua.py site presentation</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js"></script>
</head>
<body onload="fetchData()">
    <div class="container main">
        <div class="container image">
            <img id="image" src="" alt="">
        </div>

        <div class="container data" id="data_container">
            No data
        </div>
    </div>

    <div class="container controls">
        <div class="button" onclick="fetchData()">Оновити</div>
    </div>
</body>
</html>